{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">

            {% for view in data %}
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"><img src="{{ MEDIA_URL }}{{ view.image.url }}" class="img-fluid" alt="img"></a></div>
            {% endfor %}
            
        </div>
        <div class="swiper-pagination"></div>
        </div>

    </div>
    </section><!-- End Gallery Section -->

{% endblock content %}