{% extends 'index.html' %}
{% load static %}

{% block content %}
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">
    
        <div class="section-header">
        <h2>Our Menu</h2>
        <p>Check Our <span>Yummy Menu</span></p>
        </div>
        
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
    
        <div class="tab-pane fade active show" id="menu-Dishes">
    
            <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Dishes</h3>
            </div>
            
            <div class="row gy-2">
            {% for item in data %}
            <div class="col-lg-3 menu-item">
                <img src="{{ MEDIA_URL }}{{ item.image.url }}" style="width: 150px; height: 150px" alt="img">
                <h4>{{ item.name }}</h4>
                <p class="details">{{ item.details }}</p>
                <p class="price">{{ item.price }} Tk</p>
                <a href="" class="submit">{{ item.cart }}</a>
            
            </div><!-- Menu Item -->
            {% endfor %}
            </div>
        </div><!-- End Dinner Menu Content -->
        
        </div>
        
    </div>
    </section><!-- End Menu Section -->

{% endblock content %}
